<ion-header >
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-thumbnail class="image-center">
        <div class="center">
          <ion-img src="assets/images/weuzyMoney.png"></ion-img>
        </div>
      </ion-thumbnail>
      <ion-avatar slot="end" *ngIf="user">
        <img  src="data:image/png;base64,{{user.photo}}" alt="{{user.prenom}}">
      </ion-avatar>
    </ion-item>
    <ion-card>
        <ion-card-content>
          <div *ngIf="!viewSolde">
            <h4>Mon solde disponible</h4>
            <h1>
              {{solde?.toLocaleString()}}
              <strong>F CFA</strong>
              <ion-icon name="eye-off" (click)="show()" slot="end"></ion-icon>
            </h1>
            <span>Mise à jour le {{date | date: 'dd/MM/yyyy'}} à {{date | date: 'h:mm'}} </span>
          </div>
          <div *ngIf="viewSolde">
            <h3>Voir Mon Solde
              <ion-icon name="eye" color="weuzy" (click)="show()" slot="icon-only"></ion-icon>
            </h3>
          </div>
        </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item detail routerLink="/depot" *ngIf="getRoles() === 'ROLE_AdminAgence' || getRoles() === 'ROLE_UtilisateurAgence'">
      <ion-icon color="weuzy" name="return-down-forward-outline"></ion-icon>
      <ion-label>Dépôt</ion-label>
    </ion-item>
    <ion-item detail routerLink="/retrait" *ngIf="getRoles() === 'ROLE_AdminAgence' || getRoles() === 'ROLE_UtilisateurAgence'">
      <ion-icon color="weuzy" name="return-up-back-outline"></ion-icon>
      <ion-label>Retrait</ion-label>
    </ion-item>
    <ion-item detail routerLink="/mes-transactions" *ngIf="getRoles() === 'ROLE_AdminAgence' || getRoles() === 'ROLE_UtilisateurAgence'">
      <ion-icon color="weuzy" name="sync-outline"></ion-icon>
      <ion-label>Mes transactions</ion-label>
    </ion-item>
    <ion-item detail routerLink="/transactions" *ngIf="getRoles() === 'ROLE_AdminAgence'">
      <ion-icon color="weuzy" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Toutes les transactions</ion-label>
    </ion-item>
    <ion-item detail routerLink="/comissions" *ngIf="getRoles() === 'ROLE_AdminAgence'">
      <ion-icon color="weuzy" name="server-outline"></ion-icon>
      <ion-label>Mes comissions</ion-label>
    </ion-item>
    <ion-item detail routerLink="/calculFrais" *ngIf="getRoles() === 'ROLE_AdminAgence' || getRoles() === 'ROLE_UtilisateurAgence'">
      <ion-icon color="weuzy" name="calculator"></ion-icon>
      <ion-label>Calculateur frais</ion-label>
    </ion-item>
    <!--<ion-item (click)="logout()">
      <ion-icon color="weuzy" name="log-out-outline"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-item>-->
  </ion-list>
</ion-content>







