* {
  font-family: lato, serif;
  ion-item {
    cursor: pointer;
  }
}
.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #ffb74d;
  background: linear-gradient(90deg, #efa20a, #ffb74d 100%);
  box-shadow: 0 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}
.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #ffb74d;
    margin-right: 14px;
  }
  h2 {
    font-weight: 300;
    color: #ffffff;
  }
  p {
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}
.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  ion-button {
    text-transform: capitalize;
    font-weight: 300;
    --background: #ffb74d;
    --border-radius: 7px;
    --box-shadow: none;
  }
  ion-icon {
    margin-right: 1px;
  }
}
.menu-items {
  margin: 0;
  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }
  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
    --color-selected: var(--ion-color-weuzy);
    cursor: pointer;
  }
  .activeLink {
    border-left: 5px solid;
    color: #ffb74d;
    padding-left: 15px;
    ion-icon {
      color: #ffb74d;
    }
  }
}
.image-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7rem;
  min-height: 7rem;
  margin: auto;
  img {
    max-width: 7rem;
    min-width: 7rem;
  }

}
