<ion-app>
  <ion-menu menuId="main-menu" contentId="main" *ngIf="user">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="data:image/png;base64,{{user.photo}}" alt="{{user.nom}}">
        <ion-label>
          <h2>{{user.prenom}} {{user.nom}}</h2>
          <p>{{user.profil?.libelle}}</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button (click)="menuClicked()" routerLink="/tabs/home">
          <ion-icon slot="start" name="home"></ion-icon>
          Accueil
        </ion-button>
      </div>

      <ion-list class="ion-items" lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item (click)="openLink(page)"  [class.activeLink]="checkActiveLink(page)">
            <ion-icon  [name]="page.icon"></ion-icon>
            <ion-label>{{ page.name }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item (click)="logout()">
          <ion-icon  name="log-out-outline"></ion-icon>
          <ion-label>Déconnexion</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-thumbnail class="image-center">
      <div class="center">
        <ion-img src="assets/images/weuzyMoney.png"></ion-img>
      </div>
    </ion-thumbnail>
  </ion-menu>
  <ion-router-outlet  id="main"></ion-router-outlet>
</ion-app>
