ion-header {
  text-align: center;

  .inner {
    width: 40%;
    height: 2px;
    border-bottom: 3px solid #ffb74d;
    margin-left: 30%;
  }
  ion-toolbar {
    --background: #ffffff;
    .title {
      position: relative;
      bottom: -42px;
      margin-left: 15%;
      font-size: 18px;
    }
    .back {
      font-size: 25px;
      margin-left: 5%;
    }
  }
  .image-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
    min-height: 7rem;
    margin: auto;
    img {
      max-width: 7rem;
      min-width: 7rem;
    }

  }
  ion-item {
    align-content: center;
  }
}
ion-content {
  --ion-background-color: #e5e5e5;
  ion-button {
    margin-left: 70%;
    font-weight: bold;
    margin-top: 2%;
  }
  small {
    color: red;
  }
}
